body{
  font-style: italic;
  background-color:rgb(0, 0, 0) !important;
  color:white !important;
  font-size: 18 !important;
  margin: 0;
  font-family: Arial, "Times New Roman", sans-serif;
}
body small{
  font-family: sans-serif;
}
a {
  text-decoration: underline !important;
}
a:link {
  color: blue;
}
a:visited {
  color: purple; 
  font-weight: bold; 
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  color: #fff;
  padding: 10px;
  z-index: 100;
  font-size: 18px;
}
.skip-link:focus {
  top: 0;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(44 0 255) !important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgba(0,0,0,.9) !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 1.5em;
}

footer{
  background-color: white;
  color: black ;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 1.5rem;
}

main{
  margin-bottom: 100px;
}

#banner{
  background-image: url(source/images/bannar/banner2.jpg);/*annimaitonにするのもあり？*/
  position: relative;
  width: 100%;
  height: 400px;
  background-position: right -20px bottom -100px;
  margin-top: 0;
}
#banner p{
  position: relative;
  color: rgb(255, 255, 255);
  top: 150px;
  left: 150px;
  font-size: 4rem;
  font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Sacramento', cursive;
  margin: 0;
  width: 50%;
}
.font_size_plus{
  margin-right: 10px;
  color: black;
}
.font_size_minus{
  margin-right: 10px;
  color: black;
}
.setting_icon{
  text-align: right;
  color: black;
}

#title{
  text-align: center;
  margin: 20px;
}

.introduction{
  display: flex;
  justify-content: space-between;
  
}
.introduction>div{
  margin-left: 50px;
}
.introduction>div>h2{
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 3rem;
}
.introduction>div>p{
  font-size: 2rem;
}
.introduction>.video{
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
video{
  margin: 0 auto;
  width:500px;
  height:400px;
}

.inte_exte{
  margin-top: 50px;
  
}
.inte_exte>h2{
  text-align: center;
}

.images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.images>.img_item>img{
  margin: 50px 10px 10px 10px;
  width: 310px;
  height: 200px;
}
.info{
  margin:150px;
  margin-top: 100px;
  padding: 50px;
  border: 3px solid pink;
}
.sumnail{
  display: flex;
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
  padding: 20px;
  margin-bottom: 10px;
  width: 50%;
}
.sumnail>div{
  font-size: 1.5rem;
  margin-left: 10px;
}
.sumnail>a>img{
  width: 200px;
  height: 120px;
}


.menu{
  padding: 80px;
}
.menu>figure{
  display: flex;
  justify-content: space-between;
}
.menu>figure>img{
  width:280px;
  height: 200px;
}

.event{
  display: flex;
  padding: 80px;
  justify-content: space-between;
}
.event_description{
  font-size: 2rem;
  width: 50%;
}

.event_img>img{
  width: 300px;
  height: 200px;
}

.form{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin: 50px;
  padding: 50px;
  border: 1px solid black;
  border-radius: 10px;
}
.form>div{
  width: 50%;
}
.other3{
  display: flex;
}
.other3>input{
  margin-bottom: 40px;
}
#textarea{
  width: 500px;
  height: 300px;
}
.button{
  display: flex;
  justify-content: space-between;
}
.button>input{
  font-style: italic;
  margin-right:150px;
  padding: 8px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.button>input.submit{
  background-color: rgb(165, 165, 224);
}
.button>input.reset{
  background-color: rgb(143, 143, 149);
}


.staff_list{
  height:600px;
}
.staff_list>details{
  text-align: center;
}
table{
  margin: 0 auto;
  margin-top: 100px;
  font-size: 2rem;
  border: 1px solid black;
}
th,td{
  border: 1px solid black;
  padding: 10px;
}
table>caption{
  caption-side: top;
}

.delivary{
  margin: 50px auto;
  text-align: center;
}
.delivary.shops{
  display: flex;
  justify-content: center;

}
.delivary.shops>a{
  margin: 50px;
}
.delivary>a>div{
  font-size: 1.5rem;
}

@media only screen and (max-width: 1200px) {
  body{
    font-style: italic;
    background-color:rgb(0, 0, 0) !important;
    color:white !important;
    font-size: 18 !important;
    margin: 0;
    font-family: Arial, "Times New Roman", sans-serif;
  }
  body small{
    font-family: sans-serif;
  }
  a {
    text-decoration: underline !important;
  }
  a:link {
    color: blue;
  }
  a:visited {
    color: purple; 
    font-weight: bold; 
  }
  .skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    color: #fff;
    padding: 10px;
    z-index: 100;
    font-size: 18px;
  }
  .skip-link:focus {
    top: 0;
  }
  
  footer{
    background-color: white;
    color: black ;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 1.5rem;
  }
  
  main{
    margin-bottom: 100px;
  }
  
  #banner{
    background-image: url(source/images/bannar/banner2.jpg);/*annimaitonにするのもあり？*/
    position: relative;
    width: 100%;
    height: 400px;
    background-position: right -250px bottom -100px;
    margin-top: 0;
  }
  #banner p{
    position: relative;
    color: rgb(255, 255, 255);
    top: 200px;
    left: 50px;
    font-size: 2.5rem;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sacramento', cursive;
    margin: 0 !important;
    width: 50%;
  }
  .font_size_plus{
    color: black;
  }
  .font_size_minus{
    color: black;
  }
  .setting_icon{
    text-align: right;
    color: black;
  }
  
  #title{
    text-align: center;
    margin: 20px;
    font-size: 2rem;
  }
  
  .introduction{
    display: block;
  }
  .introduction>div{
    text-align: center;
    margin-left: 0;
  }
  .introduction>div>h2{
    font-size: 2.5rem;
  }
  .introduction>div>p{
    font-size: 1.5rem;
  }
  .introduction>.video{
    margin: 0 auto;
  }
  
  .inte_exte{
    margin-top: 50px;
    
  }
  .inte_exte>h2{
    text-align: center;
  }
  
  .images{
    display: block;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .images>.img_item>img{
    margin: 50px 10px 10px 10px;
    width: 310px;
    height: 200px;
  }
  .info{
    margin:50px;
    margin-top: 100px;
    padding: 10px;
    border: 3px solid pink;
  }
  .sumnail{
    display: flex;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
  }
  .sumnail>div{
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .sumnail>a>img{
    width: 200px;
    height: 120px;
  }
  
  
  .menu{
    padding: 80px;
  }
  .menu>figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu>figure>img{
    width:200px;
    height: 150px;
    margin: 10px;
  }
  
  .event{
    display: inline;
    padding: 80px;
  }
  .event_description{
    font-size: 2rem;
    margin: 0 auto;
  }
  .event_img{
    text-align: center;
  }
  .event_img>img{
    width: 250px;
    height: 150px;
  }
  
  .form{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin: 50px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px;
  }
  .form>div{
    width: 50%;
  }
  .other3{
    display: flex;
  }
  .other3>input{
    margin-bottom: 40px;
  }
  #textarea{
    width: 250px;
    height: 200px;
  }
  .button{
    display: flex;
    justify-content: space-evenly;
  }
  .button>input{
    font-style: italic;
    margin-right:150px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .button>input.submit{
    background-color: rgb(165, 165, 224);
  }
  .button>input.reset{
    background-color: rgb(143, 143, 149);
  }
  
  
  .staff_list{
    height:600px;
  }
  .staff_list>details{
    text-align: center;
  }
  table{
    margin: 0 auto;
    margin-top: 100px;
    font-size: 2rem;
    border: 1px solid black;
  }
  th,td{
    border: 1px solid black;
    padding: 10px;
  }
  table>caption{
    caption-side: top;
  }
  
  .delivary{
    margin: 50px auto;
    text-align: center;
  }
  .delivary.shops{
    display: flex;
    justify-content: center;
  
  }
  .delivary.shops>a{
    margin: 50px;
  }
  .delivary>a>div{
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  body{
    font-style: italic;
    background-color:rgb(0, 0, 0) !important;
    color:white !important;
    font-size: 18 !important;
    margin: 0;
    font-family: Arial, "Times New Roman", sans-serif;
  }
  body small{
    font-family: sans-serif;
  }
  a {
    text-decoration: underline !important;
  }
  a:link {
    color: blue;
  }
  a:visited {
    color: purple; 
    font-weight: bold; 
  }
  .skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    color: #fff;
    padding: 10px;
    z-index: 100;
    font-size: 18px;
  }
  .skip-link:focus {
    top: 0;
  }
  
  footer{
    background-color: white;
    color: black ;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 1rem;
  }
  footer>aside>h2{
    font-size: 1.5rem;
  }
  
  main{
    margin-bottom: 100px;
  }
  
  #banner{
    background-image: url(source/images/bannar/banner2.jpg);/*annimaitonにするのもあり？*/
    position: relative;
    width: 100%;
    height: 400px;
    background-position: right -350px bottom -100px;
    margin-top: 0;
  }
  #banner p{
    position: relative;
    color: rgb(255, 255, 255);
    top: 200px;
    left: 50px;
    font-size: 2rem;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sacramento', cursive;
    margin: 0 !important;
    width: 50%;
  }
  .font_size_plus{
    color: black;
    display: none;
  }
  .font_size_minus{
    color: black;
    display: none;
  }
  .setting_icon{
    text-align: right;
    color: black;
  }
  
  #title{
    text-align: center;
    margin: 20px;
    font-size: 1rem;
  }
  
  .introduction{
    display: inline;
  }
  .introduction>div{
    text-align: center;
    margin-left: 0;
  }
  .introduction>div>h2{
    font-size: 1.5rem;
  }
  .introduction>div>p{
    font-size: 1rem;
  }
  .introduction>.video{
    margin: 0 auto;
  }
  video{
    width: 300px;
    height: 200px;
  }
  
  .inte_exte{
    margin-top: 50px;
    
  }
  .inte_exte>h2{
    text-align: center;
    font-size: 1.5rem;
  }
  
  .images{
    display: block;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .images>.img_item>img{
    margin: 50px 10px 10px 10px;
    width: 250px;
    height: 180px;
  }
  .info{
    margin:50px;
    margin-top: 100px;
    padding: 10px;
    border: 3px solid pink;
  }
  .sumnail{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
  }
  .sumnail>div{
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .sumnail>a>img{
    width: 200px;
    height: 120px;
  }
  
  
  .menu{
    text-align: center;
    padding: 80px;
  }
  .menu>h2{
    font-size: 1.5rem;
  }
  .menu>figure{
    display: inline-block;
    text-align: center;
  }
  .menu>figure>img{
    width: 170px;
    height: 130px;
    margin: 10px;
  }
  
  .event{
    display: inline;
    padding: 80px;
  }
  .event_description{
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
  }
  .event_description>h2{
    font-size: 1.5rem;
  }
  .event_img{
    text-align: center;
  }
  .event_img>img{
    width: 200px;
    height: 120px;
    margin-bottom: 10px;
  }
  
  .form{
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 0;
    width: 100%;
  }
  .form>div{
    width: 100%;
  }
  .other3{
    display: flex;
  }
  .other3>input{
    margin-bottom: 40px;
  }
  #textarea{
    width: 250px;
    height: 200px;
  }
  .button{

  }
  .button>input{
    display: inline-block;
    margin: 0 auto;
    font-style: italic;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .button>input.submit{
    background-color: rgb(165, 165, 224);
  }
  .button>input.reset{
    background-color: rgb(143, 143, 149);
  }
  
  
  .staff_list{
    height:600px;
  }
  .staff_list>details{
    text-align: center;
  }
  table{
    margin: 0 auto;
    margin-top: 100px;
    font-size: 1rem;
    border: 1px solid black;
  }
  th,td{
    border: 1px solid black;
    padding: 10px;
  }
  table>caption{
    caption-side: top;
  }
  
  .delivary{
    margin: 50px auto;
    text-align: center;
  }
  .delivary.shops{
    display: flex;
    flex-direction: column;
  
  }
  .delivary.shops>a{
    margin: 50px;
  }
  .delivary>a>div{
    font-size: 1.5rem;
  }
}




